{% extends '/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/user/home.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <main>

    </main>
{% endblock %}
